.advantages
	.advantages__wrapper.slider-advantages

		input(type='radio', name='slider-toggle', id='advantages-toggle-slide-1', checked='checked')
		input(type='radio', name='slider-toggle', id='advantages-toggle-slide-2')
		input(type='radio', name='slider-toggle', id='advantages-toggle-slide-3')

		ul.advantages__list.slider-advantages__items
			li.advantages__item.advantages__item_fast.slider-advantages__item
				h3.advantages__item-title БЫСТРО
				p.advantages__item-text 
					| Мы&nbsp;делаем свою работу быстро! Два часа пролетят незаметно и&nbsp;Вы&nbsp;&mdash; счастливый обладатель стильной стрижки-минутки

			li.advantages__item.advantages__item_cool.slider-advantages__item
				h3.advantages__item-title КРУТО
				p.advantages__item-text 
					| Забудьте, как вы&nbsp;стриглись раньше. Мы&nbsp;сделаем из&nbsp;вас звезду футбола или кино. Во&nbsp;всяком случае внешне.

			li.advantages__item.advantages__item_expensive.slider-advantages__item
				h3.advantages__item-title ДОРОГО
				p.advantages__item-text 
					| Наши мастера&nbsp;&mdash; профессионалы своего делаи не&nbsp;могут стоить дёшево. К&nbsp;тому&nbsp;же, разве цена не&nbsp;даёт определённый статус?

		.slider-advantages__pagination.slider-pagination
			label.slider-pagination__item(for='advantages-toggle-slide-1')
			label.slider-pagination__item(for='advantages-toggle-slide-2')
			label.slider-pagination__item(for='advantages-toggle-slide-3')