extends ../templates/default/template.pug

block head
	- var path = '';
	- var pageTitle = 'Парикмахерская Barbershop';
	- var pageDescription = 'Адаптивная верстка учебного макета HTML-Academy';

block content
	main.page-main
		h1.visualli-hidden Барбершоп "Бородинский" - истинно мужская классика
		
		section.page-main__stats
			include ../../blocks/stats/stats.pug

		section.page-main__advantages
			include ../../blocks/advantages/advantages.pug

		section.page-main__news
			include ../../blocks/news/news.pug

		section.page-main__reviews
			include ../../blocks/reviews/reviews.pug
			

