.stats
	header.stats__stats-header
		h2.stats__title Стрижка у нас это выгодно!
		p.stats__intro Мужская стрижка требует точного подхода. Обратимся к статистике:
		span.stats__legend.stats__legend_top <sup>*</sup> — приведённые данные ложь

	table.stats__list
		tr.stats__item
			td.stats__value 1 500 <sup>*<sup>
			td.stats__field рублей<br>вложений

		tr.stats__item
			td.stats__value 7 200
			td.stats__field секунд<br>времени мастера

		tr.stats__item
			td.stats__value 90 000
			td.stats__field постриженных<br>волос

		tr.stats__item
			td.stats__value 500 000 <sup>*<sup>
			td.stats__field лайков и<br>комплиментов

	span.stats__legend.stats__legend_bottom <sup>*</sup> — приведённые данные ложь