header.header
	h1.visualli-hidden Барбершоп адаптивный

	.header__logo
		include ../logo/logo.pug
	
	.header__nav-section
		.header__nav-wrapper
			.header__main-menu
				include ../main-menu/main-menu.pug