.news
	h2.news__title
		| Новости и акции
	
	ul.news__list
		li.news__item
			time.news__date(datetime='2015-09-29') <b>29</b><br> сент
			p.news__preview Нам наконец завезли Ягермайстер! Теперь вы&nbsp;можете пропусить стаканчик во&nbsp;время стрижки.

	
		li.news__item
			time.news__date(datetime='2015-09-19') <b>19</b><br> сент
			p.news__preview В&nbsp;нашей команде пополнение, Борис &laquo;Бритва&raquo; Стригунец, обладатель множества титулов и&nbsp;наград пополнил наши стройные ряды. Спешите записаться!

		li.news__item
			time.news__date(datetime='2015-09-09') <b>09</b><br> сент
			p.news__preview Все дорожает, а&nbsp;наши стрижки нет! Как так? Приходите, постригитесь и&nbsp;узнаете, в&nbsp;чем здесь подвох!

	a.news__btn-to-all.button(href='javascript:void(0)') Показать все

