.news
	h2.news__title Новости и акции
	ul.news__list
		li.news__item
			time.news__date(datetime='2015-09-29') <b>29</b> сент
			p.news__preview Нам наконец завезли Ягермайстер! Теперь вы можете пропусить стаканчик во время стрижки.

		li.news__item
			time.news__date(datetime='2015-09-19') <b>19</b> сент
			p.news__preview В нашей команде пополнение, Борис «Бритва» Стригунец, обладатель множества титулов и наград пополнил наши стройные ряды. Спешите записаться!

	a.news__btn-to-all.button(href='javascript:void(0)') Показать все

