footer.footer
	.footer__inner
		.footer__contacts
			span.footer__contacts-title Барбершоп Бородинский

			span.footer__contacts-address г. Санкт-Петербург, ул. Большая Конюшенная 19/8

			a.footer__contacts-tel(href='tel:+79876543221')
				span.footer__contacts-elem-hidden Тел.:
				span +7 (987) 654-32-21

		.footer__social
			span.footer__social-title Давайте дружить!
			include ../social-links/social-links.pug

		.footer__copyright 
			span.footer__copyright-title Разработано:
			a.footer__copyright-link.button(href='javascript:void(0)') HTML Academy
