.input
	width 100%
	padding 7px 15px

	font-family 'PT Sans Narrow', sans-serif
	font-size 1.4rem
	line-height 2.4rem
	font-weight bold
	text-transform uppercase
	
	color #000
	background #f9f6f3
	border 2px solid #000
	outline none
	
	&:focus
			border 2px solid #663d15